body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f4f4f4;
    width: 97%;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #ddd;
}

h1 {
    margin: 0;
}

canvas {
    margin-top: 20px;
}